<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>

<body>
    <div class="site">
        <header class="site-header">
            <nav>
                <ul>
                    {% for sitepage in site.pages %}
                    {% if sitepage.title != page.title and 
                        sitepage.title %}
                    <li>
                        <a href="{{ site.baseurl }}{{ sitepage.url }}">{{sitepage.title}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main class="side-main">
            {% if page.title %}
            <h1 class="site-title">
                {{page.title}}
            </h1>
            {% endif %}

            {{content}}
        </main>
        <aside class="side-sidebar">

        </aside>
        <footer class="site-footer">
            <p>All rights reserved &copy;</p>
        </footer>
    </div>

</body>

</html>